# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
*.env
*.venv

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files (large files)
*.nc

# Model files
*.pth
*.ckpt

# System-specific files
.DS_Store
Thumbs.db
